.app-header {
  background-color: #222;
  padding: 20px;
  margin-top: 50px;
  color: white;
}

.app-title {
  font-size: 35px;
  text-align: center;
}

.add-btn {
  margin-left: 5px;
}

.add-space {
  margin-top: 5px;
}

.modal {
  display:block;
}